[submodule "subrepos/binutils-gdb"]
	path = subrepos/binutils-gdb
	url = https://github.com/pipcet/binutils-gdb
	branch = wasm
[submodule "subrepos/gcc"]
	path = subrepos/gcc
	url = https://github.com/pipcet/gcc
	branch = wasm
[submodule "subrepos/glibc"]
	path = subrepos/glibc
	url = https://github.com/pipcet/glibc
	branch = wasm
