[submodule "subrepos/binutils-gdb"]
	path = subrepos/binutils-gdb
	url = https://github.com/pipcet/binutils-gdb
	branch = wasm
[submodule "subrepos/gcc"]
	path = subrepos/gcc
	url = https://github.com/pipcet/gcc
	branch = wasm
[submodule "subrepos/glibc"]
	path = subrepos/glibc
	url = https://github.com/pipcet/glibc
	branch = wasm
[submodule "subrepos/ncurses"]
	path = subrepos/ncurses
	url = https://github.com/pipcet/ncurses
	branch = wasm
[submodule "subrepos/bash"]
	path = subrepos/bash
	url = https://github.com/pipcet/bash
	branch = wasm
[submodule "emacs"]
	path = subrepos/emacs
	url = https://github.com/pipcet/emacs
	branch = wasm
[submodule "subrepos/binaryen"]
	path = subrepos/binaryen
	url = https://github.com/pipcet/binaryen
	branch = wasm
[submodule "subrepos/wabt"]
	path = subrepos/wabt
	url = https://github.com/pipcet/wabt
	branch = wasm
[submodule "subrepos/libtool"]
	path = subrepos/libtool
	url = https://github.com/pipcet/libtool
	branch = wasm
